<ng-container [formGroup]="form">
  <h4>Select a skill</h4>
  <div class="add-skill-row">
    <mat-form-field>
      <mat-select formControlName="name"
                  placeholder="Pick a skill...">
        <ng-container *ngIf="pickableSkills$ | async as groups">
          <mat-option>
            <ngx-mat-select-search [formControl]="filterControl"
                                   placeholderLabel="Search..."></ngx-mat-select-search>
          </mat-option>
          <mat-optgroup *ngFor="let group of groups"
                        [label]="group.category">
            <mat-option *ngFor="let option of group.skills"
                        [value]="option.value">{{option.display}}</mat-option>
          </mat-optgroup>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="skill-value">
      <input matInput
             type="number"
             formControlName="value">
    </mat-form-field>
    <button mat-flat-button
            color="primary"
            (click)="onAddClicked()"
            [disabled]="!(canAdd$ | async)">Add</button>
  </div>
</ng-container>

<table class="mat-table cdk-table">
  <thead>
    <tr class="mat-header-row cdk-header-row">
      <th class="mat-header-cell cdk-header-cell display">Skill Name</th>
      <th class="mat-header-cell cdk-header-cell value">Value</th>
      <th class="mat-header-cell cdk-header-cell actions">Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr class="mat-row cdk-row"
        *ngFor="let pickedSkill of (pickedSkills$ | async); trackBy:trackByName"
        [appHighlightOn]="[pickedSkill.name]">
      <td class="mat-cell cdk-cell">{{pickedSkill.display}}</td>
      <td class="mat-cell cdk-cell">
        <input matInput
               type="number"
               [ngModel]="pickedSkill.value"
               (ngModelChange)="updateSkillValue(pickedSkill.name, $event)">
      </td>
      <td class="mat-cell cdk-cell">
        <button mat-icon-button
                (click)="onRemoveClicked(pickedSkill.name)"
                color="warn">
          <mat-icon matTooltip="Remove skill">delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>