<ng-container [formGroup]="form">
  <h4>Select a skill</h4>
  <div class="add-skill-row">
    <mat-form-field>
      <mat-select formControlName="name"
                  placeholder="Pick a skill...">
        <ng-container *ngIf="pickableSkills$ | async as groups">
          <mat-option>
            <ngx-mat-select-search [formControl]="filterControl"
                                   placeholderLabel="Search..."></ngx-mat-select-search>
          </mat-option>
          <mat-optgroup *ngFor="let group of groups"
                        [label]="group.category">
            <mat-option *ngFor="let option of group.skills"
                        [value]="option.value">{{option.display}}</mat-option>
          </mat-optgroup>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="skill-value">
      <input matInput
             type="number"
             formControlName="value">
    </mat-form-field>
    <button mat-flat-button
            color="primary"
            (click)="onAddClicked()"
            [disabled]="!(canAdd$ | async)">Add</button>
  </div>
</ng-container>

<table mat-table
       [dataSource]="pickedSkills$">
  <!-- Skill Name Column -->
  <ng-container matColumnDef="display">
    <th mat-header-cell
        *matHeaderCellDef> Skill Name </th>
    <td mat-cell
        *matCellDef="let element"
        [appHighlightOn]="[element.name]"> {{element.display}} </td>
  </ng-container>

  <!-- Value Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell
        *matHeaderCellDef
        [style.width]="'50px'"> Value </th>
    <td mat-cell
        *matCellDef="let element">
      <input matInput
             type="number"
             [ngModel]="element.value"
             (ngModelChange)="updateSkillValue(element.name, $event)">
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell
        *matHeaderCellDef
        [style.width]="'50px'"> Remove </th>
    <td mat-cell
        *matCellDef="let element">
      <button mat-icon-button
              (click)="onRemoveClicked(element.name)"
              color="warn">
        <mat-icon matTooltip="Remove skill">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row
      *matHeaderRowDef="['display', 'value', 'actions']"></tr>
  <tr mat-row
      *matRowDef="let row; columns: ['display', 'value', 'actions'];"></tr>
  <tr *matNoDataRow
      class="mat-row">
    <td colspan="3"
        class="mat-cell"> No skills added yet. Add a skill from the list above. </td>
  </tr>
</table>