:host ::ng-deep span.mat-content {
  justify-content: space-between;
  color: red;
  // align-items: center;
}

.detail {
  display: flex;
  justify-content: space-between;

  .bonus {
    color: rgba(0, 0, 0, 0.54);
  }
}
