<h4>Effective mana</h4>

<mat-accordion multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Mana Regen Tick Rate</mat-panel-title>
      <mat-panel-description>1 tick every {{totalManaRegTicksPerSecond$ | async | number:'1.2-2'}} seconds
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- Content: -->
    <div>Base rate: 0.5 Mana/sec</div>
    <div class="detail">
      <div class="source">
        Meditation
      </div>
      <div class="bonus">
        {{1 / (mediBaseManaRegFactor$ | async)! }} Mana / second
      </div>
      <div class="formula">Base Rate * value / 100</div>
    </div>
    <div class="detail">
      <div class="source">
        Aspect Armor Bonus
      </div>
      <div class="bonus">
        {{ (airAspectArmorBonus$ | async)! * 100 }} %
      </div>
      <div class="formula">5% + level * 1,5%</div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Average bonus Mana per tick</mat-panel-title>
      <mat-panel-description>{{totalTickBonus$ | async}}</mat-panel-description>
    </mat-expansion-panel-header>
    <!-- Content: -->
    <div class="detail">
      <div class="source">
        Pure Food Bonus
      </div>
      <div class="bonus">
        {{ ((foodBuff$ | async)?.value ?? 0) * 5 }}%
      </div>
      <div class="formula">Food Level * 5%</div>
    </div>
    <div class="detail">
      <div class="source">
        Food Bonus with Taste ID
      </div>
      <div class="bonus">
        {{ ((foodBuffBonus$ | async) ?? 0) * 100}}%
      </div>
      <div class="formula">(food bonus) + 25% * tasteId / 100</div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Effective Mana Refund Chance</mat-panel-title>
      <mat-panel-description>50%</mat-panel-description>
    </mat-expansion-panel-header>
    <!-- Content: -->
    <div>Aspect: 15% Chance</div>
    <div>Mana Drain: 20% Chance </div>
    <div>Spellbook: 15% Chance</div>
    <div>Effective Chance: (1 + total chance / 100) * (1 + (total chance / 100)²)</div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Additional Mana Sources</mat-panel-title>
      <mat-panel-description>61 Mana / min</mat-panel-description>
    </mat-expansion-panel-header>
    <!-- Content: -->
    <div>Magic Mushroom: 25 Mana / min</div>
    <div>Void Armor Regen: 36 Mana / min</div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Total Effective Mana / sec</mat-panel-title>
      <mat-panel-description>3.1 (183 Mana / min)</mat-panel-description>
    </mat-expansion-panel-header>
    <!-- Content: -->
    <div>Mana Regen Tick Rate * Mana Regen Tick Bonus * Effective Mana Refund Chance + Additional Mana Sources *
      Effective Mana Refund Chance</div>
  </mat-expansion-panel>
</mat-accordion>