<div class="layout-container">
  <app-ui-card title="Skills & Stats"
               [showMinimize]="false">
    <app-stats-picker></app-stats-picker>
    <mat-divider></mat-divider>
    <app-skill-picker></app-skill-picker>
  </app-ui-card>
  <app-ui-card title="Aspects">
    <app-aspect-picker></app-aspect-picker>
  </app-ui-card>
  <app-ui-card title="Masteries">
    <app-mastery-picker></app-mastery-picker>
  </app-ui-card>
  <div>
    <app-buff-picker></app-buff-picker>
  </div>
  <div>
    <app-equipment-picker></app-equipment-picker>
  </div>
  <div>
    <app-mana-calculator></app-mana-calculator>
  </div>
</div>