<div class="picker-row"
     [formGroup]="form">
  <mat-form-field>
    <mat-select formControlName="type"
                placeholder="Pick a mastery...">
      <mat-option>
        <ngx-mat-select-search [formControl]="filterControl"
                               placeholderLabel="Search..."></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let option of pickableMasteries$ | async"
                  [value]="option.value">{{option.display}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="number-input">
    <input matInput
           type="number"
           formControlName="value"
           placeholder="Sum">
  </mat-form-field>
  <button mat-flat-button
          color="primary"
          (click)="addClicked()"
          [disabled]="!(canAdd$ | async)">Add</button>
</div>

<table class="mat-table cdk-table">
  <thead>
    <tr class="mat-header-row cdk-header-row">
      <th class="mat-header-cell cdk-header-cell display">Skill Name</th>
      <th class="mat-header-cell cdk-header-cell value">Value</th>
      <th class="mat-header-cell cdk-header-cell actions">Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr class="mat-row cdk-row"
        *ngFor="let pickedMasteryItem of (pickedMasteryItems$ | async); trackBy:trackByType">
      <td class="mat-cell cdk-cell">{{pickedMasteryItem.display}}</td>
      <td class="mat-cell cdk-cell">
        <input matInput
               type="number"
               [ngModel]="pickedMasteryItem.value"
               (ngModelChange)="updateMasteryValue(pickedMasteryItem.type, $event)">
      </td>
      <td class="mat-cell cdk-cell">
        <button mat-icon-button
                (click)="onRemoveClicked(pickedMasteryItem.type)"
                color="warn">
          <mat-icon matTooltip="Remove mastery">delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
