.picker-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number-input {
  width: 50px;
}

table {
  width: 100%;
}

th {
  &.display {
    width: 70%;
  }
  &.value {
    width: 20%;
  }
  &.actions {
    width: 10%;
  }
}
