.level-field {
  width: 50px;
}

div.aspect-type {
  font-weight: 500;
  width: 70px;
}

div.form-field-group {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
