<div class="form-field-group"
     [formGroup]="allAspectsForm">
  <div class="aspect-type">All aspects</div>
  <mat-form-field class="select-field">
    <mat-select formControlName="type"
                placeholder="Pick an aspect...">
      <mat-option [value]="null">None</mat-option>
      <mat-option *ngFor="let aspect of aspectList"
                  [value]="aspect.value">{{aspect.display}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="level-field">
    <input matInput
           type="number"
           min="0"
           max="14"
           formControlName="level">
  </mat-form-field>
</div>
<mat-divider></mat-divider>
<ng-container [formGroup]="aspectForm">
  <div class="form-field-group"
       formGroupName="armor"
       [appHighlightOn]="[aspectForm.get('armor.type')!.value + 'armor']">
    <div class="aspect-type">Armor</div>
    <mat-form-field class="select-field">
      <mat-select formControlName="type"
                  placeholder="Pick an aspect...">
        <mat-option [value]="null">None</mat-option>
        <mat-option *ngFor="let aspect of aspectList"
                    [value]="aspect.value">{{aspect.display}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="level-field">
      <input matInput
             type="number"
             min="0"
             max="14"
             formControlName="level">
    </mat-form-field>
  </div>
  <div class="form-field-group"
       formGroupName="weapon"
       [appHighlightOn]="[aspectForm.get('weapon.type')!.value + 'weapon']">
    <div class="aspect-type">Weapon</div>
    <mat-form-field class="select-field">
      <mat-select formControlName="type"
                  placeholder="Pick an aspect...">
        <mat-option [value]="null">None</mat-option>
        <mat-option *ngFor="let aspect of aspectList"
                    [value]="aspect.value">{{aspect.display}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="level-field">
      <input matInput
             type="number"
             min="0"
             max="14"
             formControlName="level">
    </mat-form-field>
  </div>
  <div class="form-field-group"
       formGroupName="spellbook"
       [appHighlightOn]="[aspectForm.get('spellbook.type')!.value + 'spellbook']">
    <div class="aspect-type">Spellbook</div>
    <mat-form-field class="select-field">
      <mat-select formControlName="type"
                  placeholder="Pick an aspect...">
        <mat-option [value]="null">None</mat-option>
        <mat-option *ngFor="let aspect of aspectList"
                    [value]="aspect.value">{{aspect.display}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="level-field">
      <input matInput
             type="number"
             min="0"
             max="13"
             formControlName="level">
    </mat-form-field>
  </div>
</ng-container>