div.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    display: flex;

    > div {
      display: flex;
      flex-direction: column;

      > :first-child {
        margin-bottom: 2px;
      }
    }
  }
}

mat-form-field {
  width: 40px;
}

.set-number {
  color: blue;
  cursor: pointer;
}
